html.dark .frame{
    background-color: #252525;
    transition: none;
}

html .frame {
    transition:background-color 0.3s;
}

html.dark body {
    color: #eee;
}

.dark .sun {
    display:none;
}
.dark .moon {
    display:block;
}
.moon{
    display:none;
    background: url("./dark.png") no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    width: 100%;
    height: 100%;
}
.sun{
    background: url("./light.png") no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#themeToggle{
    width: 40px;
    height: 40px;
    border: 0;
    background: none;
    margin-right: 1%;
}
#themeToggle:active {
    transform: translateY(5%)
}
