---
import "./main.css";
const links = [
    {
        src: "home",
        link: "/",
    },
    {
        src: "articles",
        link: "/articles",
    },
    {
        src: "secret",
        link: "/secret",
    },
    {
        src: "navi",
        link: "https://ln.unnamedworks.com/",
    },
];
import { localstorage_id_key_name } from "@/utils/vars.ts";

import Darkmode from "@/components/darkmode/main.astro";
import Userlabel from "@/components/userlabel/main.tsx"
---
<style>
    .userlabel {
        font-size: medium;
        margin: auto 0 auto auto;
        padding-right: 10px;
    }
</style>

<div class="menu-layout">
    <div class="userlabel">
        <span style="font-size: smaller;">Welcome</span>
        <Userlabel 
            client:load 
            localstorage_id_key={localstorage_id_key_name}
        />!
    </div>
    <Darkmode />
</div>
<div class="menu-layout">
    <ul class="menu">
        {
            links.map((item) => (
                <li>
                    <a href={item.link} data-swup-animation="up">
                        {item.src}
                    </a>
                </li>
            ))
        }
    </ul>
</div>
