---
import "./main.css";
import { lambdaurl } from "@/utils/vars.ts";

import Darkmode from "@/components/darkmode/main.astro";
import Userlabel from "@/components/userlabel/main.tsx"

const login_link = "/secret"
const links = [
    {
        src: "home",
        link: "/",
    },
    {
        src: "gallery",
        link: "/gallery/page_01",
    },
    {
        src: "secret",
        link: login_link,
    },
    {
        src: "navi",
        link: "https://ln.unnamedworks.com/",
    },
];
---
<style>
    .userlabel {
        font-size: medium;
        margin: auto 0 auto auto;
        padding-right: 10px;
    }
</style>

<div class="menu-layout">
    <div class="userlabel">
        <Userlabel 
            client:load 
            api_url={lambdaurl}
            login_ref={login_link}
        />
    </div>
    <Darkmode />
</div>
<div class="menu-layout">
    <ul class="menu">
        {
            links.map((item) => (
                <li>
                    <a href={item.link} data-swup-animation="up">
                        {item.src}
                    </a>
                </li>
            ))
        }
    </ul>
</div>
