---
import "./main.css";
const links = [
    {
        src: "home",
        link: "/",
    },
    {
        src: "articles",
        link: "/articles",
    },
    {
        src: "navi",
        link: "https://ln.unnamedworks.com/",
    },
];
import Darkmode from "@/components/darkmode/main.astro";
---

<div class="menu-layout">
    <ul class="menu">
        {
            links.map((item) => (
                <li>
                    <a href={item.link} data-swup-animation="up">
                        {item.src}
                    </a>
                </li>
            ))
        }
    </ul>
    <Darkmode />
</div>
