.userform {
    display: block;
}

.userform button.submit {
    appearance: button;
    border: none;
    box-sizing: border-box;
}

.userform button.submit {
    font-family: Meiryo, "Hiragino Sans", "Noto Sans", sans-serif;
    cursor: pointer;
    background: transparent;
    border: 1.5px solid;
    font-weight: bold;
    color: #aaa;
    font-size: 13px;
    border-radius: 20px;
    padding: 3px 13px;
    transition: 0.05s linear;
}

.userform button.submit:active {
    transform: scale(0.90);
}

.userform input {
    width: 55%;
    max-width: 200px;
}

.userform input.textbox {
    font-family: Meiryo, "Hiragino Sans", "Noto Sans", sans-serif;
    border-radius: 20px;
    padding: 0% 10px;
    margin-right: 5px;
    border: 1.5px solid;
    border-color: #aaa;
    font-size: 15px;
}

.userform label {
    font-size: 15px;
    display: inline-block;
    width: 30px;
    text-align: right;
    margin-right: 5px;
}

.userform input[type=text]:invalid,
input[type=password]:invalid {
    background: pink;
}

.userform .context {
    margin: 10px 0 10px 0;
}

.userform .context.smaller {
    font-size: smaller;
}

.userform .component {
    margin: 0 0 5px 0;
}

.userform .alert {
    background: #e77;
    border-radius: 5px;
    padding: 3px;
}