ul {
    list-style:none;
    padding-left: 0;
}

.pagelist-buttons {
    bottom: 5%;
    text-align: center;
    width: 100%;
    font-size: 14px;
    padding-bottom: 2%;
}

.pagelist-buttons .left {
    /* position: absolute;
    left: 0; */
    display: inline-block;
    width: 30%;
    text-align: right;
    vertical-align: middle;
}

.pagelist-buttons .center {
    /* position: absolute;
    left: 0;
    right: 0;
    margin: auto; */
    display: inline-block;
    width: 30%;
    text-align: center;
    vertical-align: middle;

}
.pagelist-buttons .right {
    /* position: absolute;
    right: 0;
    margin: auto; */
    display: inline-block;
    width: 30%;
    text-align: left;
    vertical-align: middle;
}

