---
const { nextlink, current, prevlink, baseurl } = Astro.props;
// const { nextlink, prevlink, baseurl } = Astro.props;
import './main.css'

---
<div class="pagelist-buttons">
    <div class="left">
        {nextlink !== undefined && nextlink !== false && 
            <a data-swup-animation="left" href={baseurl + nextlink}>後の記事</a>}</div>
    <div class="center">
        <button type="submit" class="newiine_btn" data-iinename={current.data.title}>
            <span class="material-icons-round">favorite</span>
            <span class="newiine_count"></span>
        </button>
        {/* { current.data.title  */}
    </div>
    <div class="right">
        {prevlink !== undefined && prevlink !== false && 
            <a data-swup-animation="right" href={baseurl + prevlink}>前の記事</a>}</div>
</div>
