---
interface Props {
    nextpage_slug: string | false;
    currentpage_slug: string;
    prevpage_slug: string | false;
    baseurl: string;
}
const { nextpage_slug, currentpage_slug, prevpage_slug, baseurl } =
    Astro.props;
// const { nextlink, prevlink, baseurl } = Astro.props;
import "./main.css";

import { global_vars, lambdaurl } from "@/utils/vars.ts";
const indexpage_slug = global_vars.index_slug;
const prevlink_title = () => {
    if(currentpage_slug !== indexpage_slug){
        return "前の記事"
    } else {
        return "最新記事"
    }
}

import Favobutton from "@/components/favobutton/main.tsx";

const api_url = lambdaurl
const user_name = null
---
<div class="pagelist-buttons">
    <div class="left">
        {
            nextpage_slug !== false && (
                <a href={baseurl + nextpage_slug}>後の記事</a>
            )
        }
        {
            nextpage_slug === false && 
            currentpage_slug !== indexpage_slug && (
                <a href="/">ホーム</a>
            )
        }
    </div>
    <div class="center">
        <Favobutton client:load
            api_url={api_url}
            page_name={currentpage_slug}
            user_name={user_name}
        />
    </div>
    <div class="right">
        {
            prevpage_slug !== false && (
                <a href={baseurl + prevpage_slug}>{prevlink_title}</a>
            )
        }
    </div>
</div>
