@media (min-aspect-ratio: 11/16) {
    @keyframes ZoomUpInterface{
        from {
            opacity: 0;
            transform: translateY(-5%);
        }

        to {
            opacity: 1;
            transform:  translateY(0%);
        }
    }
    .frame {
        animation-timing-function:ease-in-out;
        animation-name: ZoomUpInterface;
        animation-duration: 0.8s;


        margin: auto;
        left: 0;
        right: 0;
    
        background: url("/ipad.png") center center no-repeat;
        background-size: 100%;
        width: auto;
        max-height: 95vh;
        min-height: 800px;
        aspect-ratio: 605 / 757;
    }
    /* safari対応 */
    .frame-padding {
        -webkit-box-sizing:border-box;
        padding: 7% 9% 7% 6%;
        height: 100%;
        box-sizing: border-box;
        overflow: hidden;
    }
    
    .frame .in-frame {
        font-size: 1.7vmin;
        margin: 4% 0% 1% 1%;
        box-sizing: border-box;
        object-fit: cover;
        overflow-y: auto;
        overflow-wrap: break-word;
        overflow-x: hidden;
        height: 98%;
    }
}

@media (max-aspect-ratio: 11/16) {
    @keyframes ZoomUpInterface{
        from {
            opacity: 0;
            transform: scale(0.5, 0.5);
        }
      
        30% {
            opacity: 1;
            transform: scale(1.0 , 1.0) ;
        }

        to {
            opacity: 1;
            transform: scale(1.45 , 1.45) translateY(5%);
        }
    }

    .frame-parent {
        position: relative;
        height: 100vh;
        overflow: hidden;
    }

    .frame {
        animation-timing-function:ease-in-out;
        transform: scale(1.45 ,1.45) translateY(5%);
        animation-name: ZoomUpInterface;
        animation-duration: 1.5s;

        margin: auto;
        position: relative;

        background: url("/iphone.png") center center no-repeat;
        background-size: 100%;
        width: auto;
        max-height: 100vh;
        aspect-ratio: 183 / 317;
    }
    /* safari対応 */
    .frame-padding {
        padding: 20% 12% 40% 16%;
        height: 100%;
        box-sizing: border-box;
        overflow: hidden;
    }
    
    .frame .in-frame {
        font-size: 10px;
        margin: 4% 4% 1% 1%;
        box-sizing: border-box;
        object-fit: cover;
        overflow-y: auto;
        overflow-wrap: break-word;
        overflow-x: hidden;
        height: 96%;
    }
}
