ul.common-list {
    padding: 0px;
}
ul.common-list li:before {
    content: "*";
    font-size: 2vh;
    position: absolute;
    top: 0px;
    left: 20px;
}

.common-list li {
    list-style-type: none;
    position: relative;
    padding-left: 40px;
    line-height: 1.8;
}