.pagerefbuttons {
    text-align: center;
    width: 100%;
    font-size: 3vmin;
    padding-bottom: 2%;
}

.pagerefbuttons .left {
    display: inline-block;
    width: 30%;
    text-align: right;
    vertical-align: middle;
}

.pagerefbuttons .center {
    display: inline-block;
    width: 30%;
    text-align: center;
    vertical-align: middle;

}
.pagerefbuttons .right {
    display: inline-block;
    width: 30%;
    text-align: left;
    vertical-align: middle;
}

