div._page {
    display: block;
    margin:0.5em 1% 0.5em 1%;
    overflow: hidden;
    object-fit: cover;
    /* 通常の<p>の挙動 */
    /* margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
}

img.mdimg {
    display: block;
    margin: 0;
    width: 100%;
    height: auto;
    mix-blend-mode: normal;
    border-radius: 10px;
    cursor: pointer;
}

img.mdpreview {
    max-height: 90vh;
    max-width: 90vw;
    width: auto;
    overflow: hidden;
}

dialog.image-dialog {
    padding: 0;
    border: 0px;
    opacity: 0;
}

dialog.image-dialog::backdrop {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
}

dialog.image-dialog.image-dialog-open {
    opacity: 1;
    animation: fadein 0.2s linear;
}

dialog.image-dialog.image-dialog-open::backdrop {
    opacity: 1;
    animation: fadein 0.2s linear;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.mdbody {
    margin: auto;
    right: 0;
    left: 0;
}

.mddate {
    font-style: italic;
    font-size: 75%;
}