@media (min-aspect-ratio: 247 / 196) and (min-height: 600px) {
    .frame-parent {
        position: relative;
        height: 99vh;
        overflow-y: hidden;
    }

    .frame {
        margin: auto;
        left: 0;
        right: 0;
    
        background: url("/materials/window.png") no-repeat;
        background-size: 100%;
        width: auto;
        height: 100%;
        aspect-ratio: 247 / 196;
        overflow: hidden;
    }
    /* safari対応 */
    .frame-padding {
        -webkit-box-sizing:border-box;
        padding: 12% 2.5% 5% 2%;
        height: 100%;
        box-sizing: border-box;
        overflow: hidden;
    }
    
    .frame .in-frame {
        font-size: 2.5vh;
        box-sizing: border-box;
        object-fit: cover;
        overflow-y: auto;
        overflow-wrap: break-word;
        overflow-x: hidden;
        height: 100%;
        padding-left: 15px;
    }
}



@media (min-aspect-ratio: 10/16) and (max-aspect-ratio: 247 / 196) and (min-height: 600px) {
    .frame-parent {
        position: relative;
        height: 99vh;
        overflow-y: hidden;
    }

    .frame {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
    
        background: url("/materials/ipad.png") center center no-repeat;
        background-size: 100%;
        width: auto;
        max-height: 98vh;
        aspect-ratio: 363/454;
        overflow: hidden;
    }
    /* safari対応 */
    .frame-padding {
        -webkit-box-sizing:border-box;
        padding: 5% 8% 5% 6%;
        height: 100%;
        box-sizing: border-box;
        overflow: hidden;
    }
    
    .frame .in-frame {
        font-size: 2.0vh;
        box-sizing: border-box;
        object-fit: cover;
        overflow-y: auto;
        overflow-wrap: break-word;
        overflow-x: hidden;
        height: 100%;
    }
}

@media (max-aspect-ratio: 10/16), (max-height: 600px) {
    .frame-parent {
        position: relative;
        height: 99.9vh;
        overflow: hidden;
    }

    .frame {
        transform: scale(1.45 , 1.45) translateY(2%);

        margin: auto;
        position: relative;
        background: url("/materials/iphone.png") no-repeat;
        background-size: 100%;
        width: 100%;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              
        aspect-ratio: 183 / 316;
        overflow: hidden;
    }
    /* safari対応 */
    .frame-padding {
        padding: 17% 8% 28% 9%;
        height: 100%;
        box-sizing: border-box;
        overflow: hidden;
    }
    
    .frame .in-frame {
        display: block;
        font-size: 3.6vw;
        margin: 10% 10% 4% 9%;
        padding: 0% 0% 10% 0%;
        box-sizing: border-box;
        object-fit: cover;
        overflow-y: auto;
        overflow-wrap: break-word;
        overflow-x: hidden;
        height: 63vh;
    }

    /* スマートフォンの表現領域対応 */
    .pagelist-buttons {
        margin-bottom: 15%;
    }
    .menu-layout .menu li {
        font-size: 3.8vw;
    }
    .pagelist-buttons {
        font-size: 3.8vw;
    }

}
