@font-face {
    font-family: "shape02";
    src: url('/materials/shape02.ttf');
}

.shape02 {
    font-family: shape02;
    line-height: 1.2;
}

/* フォントに合わせたカスタマイズを継承 */
.shape02 .pagelist-buttons {
    font-size: 2.5vmin;
}

.shape02 .menu-layout .menu li {
    font-size: 2.5vmin;
}


@media (min-aspect-ratio: 247 / 196) and (min-height: 600px) {
    .frame .in-frame.shape02 {
        font-size: 3vh;
    }
}

@media (min-aspect-ratio: 10/16) and (max-aspect-ratio: 247 / 196) and (min-height: 600px) {
    .frame .in-frame.shape02 {
        font-size: 2.25vh;
    }
}

@media (max-aspect-ratio: 10/16), (max-height: 600px) {
    .frame .in-frame.shape02 {
        font-size: 4vw;
    }

    /* スマートフォンの表現領域対応 */
    .shape02 .menu-layout .menu li {
        font-size: 4vw;
    }
    .shape02 .pagelist-buttons {
        font-size: 4vw;
    }
}