.transition-main {
  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: .8s cubic-bezier(0.5, 0, 0.15, 1);
  transform: translateX(0);
  opacity: 1;
  box-sizing: border-box;
  height: 100%;
}

.is-animating .transition-main {
  /* opacity: 0.1; */
  transform: translateX(3em);
}

.is-leaving .transition-main {
  transform: translateX(-3em);
}

/* 反転版の処理 */
.is-animating.to-left .transition-main {
  /* opacity:  0.1; */
  transform: translateX(-3em);
}

.is-leaving.to-left .transition-main {
  transform: translateX(3em);
}