.transition-main {
  transition-property: opacity, transform;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.5, 0, 0.15, 1);
  transform: translateX(0);
  opacity: 1;
  box-sizing: border-box;
}

.is-animating .transition-main {
  opacity: 0;
  transform: translateX(3em);
}

.is-leaving .transition-main {
  transform: translateX(-3em);
}

/* 反転版の処理 */
.is-animating.to-left .transition-main {
  opacity:  0;
  transform: translateX(-3em);
}

.is-leaving.to-left .transition-main {
  transform: translateX(3em);
}

/* 下へ移動版 */
.is-animating.to-up .transition-main {
  /* opacity:  0.1; */
  transform: translateY(-5em);
}

.is-leaving.to-up .transition-main {
  transform: translateY(-5em);
}