@media (min-aspect-ratio: 247 / 196) and (min-height: 600px) {
    @keyframes ZoomUpInterface {
        from {
            opacity: 0;
            transform: scale(0.8, 0.8);
        }

        to {
            opacity: 1;
            transform: scale(1.0, 1.0);
        }
    }

    .frame {
        animation-timing-function: ease-in-out;
        animation-name: ZoomUpInterface;
        animation-duration: 0.5s;
    }
}


@media (min-aspect-ratio: 10/16) and (max-aspect-ratio: 247 / 196) and (min-height: 600px) {
    @keyframes ZoomUpInterface {
        from {
            opacity: 0;
            transform: translateY(-5%);
        }

        to {
            opacity: 1;
            transform: translateY(0%);
        }
    }

    .frame {
        animation-timing-function: ease-in-out;
        animation-name: ZoomUpInterface;
        animation-duration: 0.8s;
    }
}

@media (max-aspect-ratio: 10/16),(max-height: 600px) {
    @keyframes ZoomUpInterface {
        from {
            opacity: 0;
            transform: scale(0.1, 0.1);
        }

        70% {
            opacity: 1;
            transform: scale(1.0, 1.0);
        }

        to {
            opacity: 1;
            transform: scale(1.45, 1.45) translateY(2%);
        }
    }

    .frame {
        animation-timing-function: ease-in-out;
        animation-name: ZoomUpInterface;
        animation-duration: 1.5s;
    }
}