---
const pageTitle = "articles";
const url = Astro.url.pathname;
const card_name = "/cards/main.png";

import BaseLayout from "@/layouts/BookLayout.astro";
import Menu from "@/components/menu/main.astro";

import { getAllPosts } from "@/utils/newt.ts";
import Data from "@/utils/model/postformat.json";
type Post = typeof Data;

const response = await getAllPosts();
const posts: Post[] = response?.items;

// そのうちローカルデータとマージする仕組み（アーカイブシステム）を作る
import { global_vars } from "@/utils/vars.ts";
export const baseurl = global_vars.baseurl;
---

<style>
    ul {
        padding: 0px;
    }
    ul li:before {
        content: "*";
        font-size: 2vh;
        position: absolute;
        top: 0px;
        left: 20px;
    }

    li {
        list-style-type: none;
        position: relative;
        padding-left: 40px;
        line-height: 1.8;
    }
</style>
<BaseLayout pageTitle={pageTitle} , page_url={url} , card_name={card_name}>
    <Menu slot="header" />
    <p>
        新しい記事...
        <ul>
            {
                posts.map((content: any) => (
                    <li>
                        <a href={baseurl + content.slug}>{content.title}</a>
                    </li>
                ))
            }
        </ul>
         ...古い記事
    </p>
</BaseLayout>
