---
const pageTitle = "articles";
const url = Astro.url.pathname;
const cardUrl = new URL("/card/main.png", Astro.url);

import BaseLayout from "@/layouts/BookLayout.astro";
import Menu from "@/components/menu/main.astro";

import { getAllPosts, genPostSlug } from "@/utils/newt.ts";

const response = await getAllPosts();
const posts = response.items;

// そのうちローカルデータとマージする仕組み（アーカイブシステム）を作る
import { post_url } from "@/utils/vars.ts";
---

<style>
    ul {
        padding: 0px;
    }
    ul li:before {
        content: "*";
        font-size: 2vh;
        position: absolute;
        top: 0px;
        left: 20px;
    }

    li {
        list-style-type: none;
        position: relative;
        padding-left: 40px;
        line-height: 1.8;
    }
</style>
<BaseLayout pageTitle={pageTitle} , page_url={url} , cardUrl={cardUrl}>
    <Menu slot="header" />
    <p>
        新しい記事...
        <ul>
            {
                posts.map((content) => (
                    <li>
                        <a href={post_url + "/" + genPostSlug(content)}>
                            {content.title}
                        </a>
                    </li>
                ))
            }
        </ul>
         ...古い記事
    </p>
</BaseLayout>
