---
import BaseLayout from "@/layouts/BookLayout.astro";
import Menu from "@/components/menu/main.astro";

const pageUrl = Astro.url.pathname;
const cardUrl = new URL("/card/main.png", Astro.url);

import {
    lambdaurl,
    website_title,
} from "@/utils/vars.ts";
import RegisterUser from "@/components/userform/main.tsx";
---

<style>
    .registeruser_box {
        text-align: center;
        margin: 20px;
    }
</style>

<BaseLayout pageTitle={website_title} page_url={pageUrl} cardUrl={cardUrl}>
    <Menu slot="header" />
    <p />
    <div class="registeruser_box">
        <RegisterUser client:load api_url={lambdaurl} arg="register" /><br />
    </div>
</BaseLayout>
