.header {
    padding: 0;
    margin: 10;
    position: relative;
}

.header-title {
    top: 20%;
    left: 0;
    right: 0;
    margin: auto;
    width: 70%;
    height: 40%;
    position: absolute;
    text-align: center;
    font-size: 11.5vmin;
    white-space: nowrap;
    background: linear-gradient(
        transparent 0%,
        #fff 25%, 
        #fff 75%, 
        transparent 100%);
    z-index: 102;
}

.header .header-bg img {
    width: 100%;
    background-size: 100%, 100%;
    background-repeat: no-repeat, no-repeat;
    top:0px;
    z-index: 100;
    margin-top: -20px;
}

.header .header-fg img {
    left: 0;
    right: 0;
    margin: auto;
    max-height: 100%;
    top:-10px;
    position: absolute;
    z-index: 101;
}