---
interface Props {
    api_url: string,
    localstorage_id_key: string
}
const { api_url, localstorage_id_key } = Astro.props;
import Favocount from "./main";

---
<script define:vars={{localstorage_id_key }}>
    document.addEventListener("astro:page-load", () => {
        let value = localStorage.getItem(localstorage_id_key);
        let element = document.getElementById("favolabel_body");
        let element_loading = document.getElementById("favolabel_loading");
        let element_username = document.getElementById('favolabel_username');

        if (value != null || value == "") {
            element.style.display = 'block'
            element_loading.style.display = 'none'
            element_username.append(document.createTextNode(value))
        } else {
            element_loading.style.display = 'none'
            element.textContent = "ログイン中の場合、ここに情報が表示されます。"
            element.style.display = 'block'
        }
    })
</script>

<div>
    <span id="favolabel_loading" style="font-size: smaller;">now loading...</span>
    <span style="display: none" id="favolabel_body">
        <span id="favolabel_username" /> はこれまで
    <Favocount 
        client:load
        api_url={api_url} 
        localstorage_id_key={localstorage_id_key}
    />
    回いいねしました。
    ありがとう！
    </span>
</div>