ul {
    list-style:none;
    padding-left: 0;
}

.pagelist-buttons {
    bottom: 5%;
    text-align: center;
    width: 90%;
    margin: 5% 0% 5% 0%;
}

.pagelist-buttons .left {
    /* position: absolute;
    left: 0; */
    display: inline-block;
    width: 30%;
    text-align: right;
}

.pagelist-buttons .center {
    /* position: absolute;
    left: 0;
    right: 0;
    margin: auto; */
    display: inline-block;
    width: 30%;
    text-align: center;

}
.pagelist-buttons .right {
    /* position: absolute;
    right: 0;
    margin: auto; */
    display: inline-block;
    width: 30%;
    text-align: left;
}

