---
interface Props {
    button_name: string;
}
const { button_name } = Astro.props;
---

<button type="submit" class="newiine_btn" data-iinename={button_name}>
    <span class="material-icons-round">favorite</span>
    <span class="newiine_count"></span>
</button>
