---
import '../styles/blog.css';

const { pageTitle, page_url, card_name } = Astro.props;
import Metadatas from '../components/Metadatas.astro';
import Header from '../components/header/main.astro';
import Fotter from '../components/footer/main.astro';
---
<html lang="ja">
  <Metadatas pageTitle={pageTitle}, page_url={page_url}, card_file={card_name} />
  <body>
    <Header header_str="untitled blog" />
    <div class="contents">
      <slot />
      <Fotter />
    </div>
  </body>
</html>
