---
import '@/styles/responsive.css';
import '@/styles/blog.css';
import "@/styles/shape02.css";

const { pageTitle, page_url, card_name } = Astro.props;
import Metadatas from '@/components/Metadatas.astro';
import Iineheader from '@/components/iine_button/iine_header.astro';
---
<html lang="ja">
  <head>
    <Metadatas pageTitle={pageTitle}, page_url={page_url}, card_file={card_name} />
    <Iineheader />
  </head>
  <body>
    <div class="frame-parent">
      <div class="frame">
        <div class="frame-padding">
          <div class="in-frame shape02">
            <slot name="header"/>
              <slot />
              <slot name="footer" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
