---
import "@/styles/responsive.css";
import "@/styles/blog.css";
import "@/styles/shape02.css";
import "@/styles/transition.css";

const { pageTitle, page_url, cardUrl } = Astro.props;
import Metadatas from "@/components/Metadatas.astro";
import { ViewTransitions } from "astro:transitions";

const anim = {
    old: {
        name: "close-from-top",
        duration: "0.5s",
        easing: "linear",
        fillMode: "forwards",
        delay: "0s",
    },
    new: {
        name: "open-from-top",
        delay: "0.0s",
        duration: "0.5s",
        easing: "linear",
        fillMode: "backwards",
    },
};

const myFade = {
    forwards: anim,
    backwards: anim,
};
import "@/styles/welcome_animation.css";
---
<script>
    window.addEventListener('DOMContentLoaded', function() {
        let doc = document.getElementById("transition-area");
        var nowhost = location.hostname;
        var referrer = document.referrer;
        if(referrer.indexOf( nowhost ) == -1) {
            if (doc !== null) {
            doc.classList.add("welcome");
            }
        }
    });
</script>

<html lang="ja">
    <head prefix="og: https://ogp.me/ns#">
        <ViewTransitions />
        <Metadatas
            pageTitle={pageTitle}
            page_url={page_url}
            card_url={cardUrl}
        />
    </head>
    <body>
        <div class="frame-parent">
            <div class="frame" id="transition-area">
                <div class="frame-padding">
                    <div class="in-frame shape02" transition:animate={myFade}>
                        <div class="contents">
                            <slot name="header" />
                            <slot />
                            <slot name="footer" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
