---
import '@/styles/responsive.css';
import '@/styles/blog.css';
import '@/styles/transition.css';
import "@/styles/shape02.css";

const { pageTitle, page_url, card_name } = Astro.props;
import Metadatas from '@/components/Metadatas.astro';
import { ViewTransitions } from 'astro:transitions';
import { slide } from 'astro:transitions';

const anim = {
  old: {
    name: 'close-from-top',
    duration: '1.0s',
    easing: 'ease-in-out',
    fillMode: 'forwards',
    delay: '0s',
  },
  new: {
    name: 'open-from-top',
    delay: '0s',
    duration: '1.0s',
    easing: 'ease-in-out',
    fillMode: 'backwards',
  }
};

const myFade = {
  forwards: anim,
  backwards: anim,
};
import Iineheader from '@/components/iine_header.astro';
---
<html lang="ja">
  <head>
    <ViewTransitions />
    <Metadatas pageTitle={pageTitle}, page_url={page_url}, card_file={card_name} />
    <Iineheader />
  </head>
  <body>
    <div class="frame-parent">
      <div class="frame">
        <div class="frame-padding" >
          <div class="in-frame shape02" transition:animate={myFade} >
              <slot name="header"/>
              <slot />
              <slot name="footer" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
