---
import "@/styles/postsformat.css";
import BaseLayout from "./BookLayout.astro";

import { genOgpUrlquery, genPostSlug } from "@/utils/newt.ts";
import Data from "@/utils/model/postformat.json";
type Post = typeof Data;
interface Props {
    entry: Post;
}
const { entry } = Astro.props;

// UTCを変換
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";
import timezone from "dayjs/plugin/timezone";
dayjs.extend(utc);
dayjs.extend(timezone);
dayjs.tz.setDefault("Asia/Tokyo");

const pageTimestamp = dayjs(entry.pubDate).tz().format("YYYY-MM-DD");
const pageUrl = genPostSlug(entry.pubDate, entry._id);

const pageTitle = entry.title;

// cardを切り抜いて自動生成
const card_urlquery = genOgpUrlquery(
                        entry.image?.width,
                        entry.image?.height,
                        entry.ogp_focus_bottom)
const cardUrl = entry.image?.src + card_urlquery;
---

<BaseLayout pageTitle={pageTitle} page_url={pageUrl} cardUrl={cardUrl}>
    <slot name="header" slot="header" />
    <div class="mddate">Public date: {pageTimestamp}</div>
    <div class="mdbody">
        <slot />
        <slot name="footer" slot="footer" />
    </div>
</BaseLayout>
